.app-bar-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    background-color: rgba(1, 0, 12, 0.45);
}

.app-title {
    color: white;
    font-size: 30px;
    font-weight: bold;
}