
.category-page {
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

.category-page-content {
    width: 90%;
    height: 100%;
}

.category-page-title {
    text-align: right;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #ffbf2b;
}

.charts-container {
    display: flex;    
    width: 100%;
    justify-content: space-between;
}

.comments-container {
    background-color: white;
    border-radius: 5px;
}

.panel {
    height: auto;
    background-color: rgba(255, 255, 255, 0.6);
    min-height: 10vh;
    padding: 2%;
    padding-top: 0;
    box-sizing: border-box;
    margin-bottom: 2%;
}

.panel-title {
    border-bottom: 2px solid black;
    font-weight: bold;
    margin-bottom: 2vh;
    text-align: right;
    line-height: 200%;
    font-size: 26px;
}

.single-chart-wrap {
    box-shadow: 0 0 10px black;
    background-color: white;
    padding: 1%;
    width: 50%;
    box-sizing: border-box;
}

.user-comment {
    padding: 1%;
    display: flex;

}

.user-comment-avatar {
    width: 64px;
    height: 64px;
    margin-left: 1%;
}

.user-comment-data {
    flex: 1;
    text-align: right;
    direction: rtl;
    line-height: 30px;
}

.user-comment-details {
    display: flex;
    width: 20%;
    flex-direction: row-reverse;
    justify-content: space-between;
}